{% extends 'index.html' %}

{% block title %}Attendance{% endblock %}

{% block content %}
<section class="home">
    <div class="container">
        <div class="box" style="width: 300px; height: 250px;">
            <h3>Box 1</h3>
            <p>Content for box 1.</p>
        </div>
        <div class="box" style="width: 300px; height: 250px;">
            <h3>Box 2</h3>
            <p>Content for box 2.</p>
        </div>
        <div class="box" style="width: 300px; height: 250px;">
            <h3>Box 3</h3>
            <p>Content for box 3.</p>
        </div>
        <div class="box" style="width: 300px; height: 250px;">
            <h3>Box 4</h3>
            <p>Content for box 4.</p>
        </div>
    </div>
</section>
{% endblock %}
